<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Dashboard - FLATY Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!--base css styles-->
    <link rel="stylesheet" href="@Url.Content("~/Styles/Bootstrap/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Styles/Bootstrap/bootstrap-responsive.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Styles/Font/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Styles/normalize.css")">

    <!--page specific css styles-->

    <!--flaty css styles-->
    <link rel="stylesheet" href="@Url.Content("~/Styles/Flaty/flaty.css")">
    <link rel="stylesheet" href="@Url.Content("~/Styles/Flaty/flaty-responsive.css")">

    <link rel="shortcut icon" href="img/favicon.png">

    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.min.js")"></script>

</head>
<body>
    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

    <!-- BEGIN Theme Setting -->
    <div id="theme-setting">
        <a href="#"><i class="icon-gears icon-2x"></i></a>
        <ul>
            <li>
                <span>Skin</span>
                <ul class="colors" data-target="body" data-prefix="skin-">
                    <li class="active"><a class="blue" href="#"></a></li>
                    <li><a class="red" href="#"></a></li>
                    <li><a class="green" href="#"></a></li>
                    <li><a class="orange" href="#"></a></li>
                    <li><a class="yellow" href="#"></a></li>
                    <li><a class="pink" href="#"></a></li>
                    <li><a class="magenta" href="#"></a></li>
                    <li><a class="gray" href="#"></a></li>
                    <li><a class="black" href="#"></a></li>
                </ul>
            </li>
            <li>
                <span>Navbar</span>
                <ul class="colors" data-target="#navbar" data-prefix="navbar-">
                    <li class="active"><a class="blue" href="#"></a></li>
                    <li><a class="red" href="#"></a></li>
                    <li><a class="green" href="#"></a></li>
                    <li><a class="orange" href="#"></a></li>
                    <li><a class="yellow" href="#"></a></li>
                    <li><a class="pink" href="#"></a></li>
                    <li><a class="magenta" href="#"></a></li>
                    <li><a class="gray" href="#"></a></li>
                    <li><a class="black" href="#"></a></li>
                </ul>
            </li>
            <li>
                <span>Sidebar</span>
                <ul class="colors" data-target="#main-container" data-prefix="sidebar-">
                    <li class="active"><a class="blue" href="#"></a></li>
                    <li><a class="red" href="#"></a></li>
                    <li><a class="green" href="#"></a></li>
                    <li><a class="orange" href="#"></a></li>
                    <li><a class="yellow" href="#"></a></li>
                    <li><a class="pink" href="#"></a></li>
                    <li><a class="magenta" href="#"></a></li>
                    <li><a class="gray" href="#"></a></li>
                    <li><a class="black" href="#"></a></li>
                </ul>
            </li>
            <li>
                <span></span>
                <a data-target="navbar" href="#"><i class="icon-check-empty"></i>Fixed Navbar</a>
                <a class="pull-right visible-desktop" data-target="sidebar" href="#"><i class="icon-check-empty"></i>Fixed Sidebar</a>
            </li>
        </ul>
    </div>
    <!-- END Theme Setting -->

    <!-- BEGIN Navbar -->
    <div id="navbar" class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <!-- BEGIN Brand -->
                <a href="#" class="brand">
                    <small>
                        <i class="icon-desktop"></i>
                        FLATY Admin
                    </small>
                </a>
                <!-- END Brand -->

                <!-- BEGIN Responsive Sidebar Collapse -->
                <a href="#" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                    <i class="icon-reorder"></i>
                </a>
                <!-- END Responsive Sidebar Collapse -->

                <!-- BEGIN Navbar Buttons -->
                <ul class="nav flaty-nav pull-right">
                    <!-- BEGIN Button User -->
                    <li class="user-profile">
                        <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
                            <img class="nav-user-photo" src="img/demo/avatar/avatar1.jpg" alt="Penny's Photo" />
                            <span class="hidden-phone" id="user_info">Penny
                            </span>
                            <i class="icon-caret-down"></i>
                        </a>

                        <!-- BEGIN User Dropdown -->
                        <ul class="dropdown-menu dropdown-navbar" id="user_menu">
                            <li class="nav-header">
                                <i class="icon-time"></i>
                                Logined From 20:45
                            </li>

                            <li>
                                <a href="#">
                                    <i class="icon-cog"></i>
                                    Account Settings
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="icon-user"></i>
                                    Edit Profile
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="icon-question"></i>
                                    Help
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="#">
                                    <i class="icon-off"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                        <!-- BEGIN User Dropdown -->
                    </li>
                    <!-- END Button User -->
                </ul>
                <!-- END Navbar Buttons -->
            </div>
            <!--/.container-fluid-->
        </div>
        <!--/.navbar-inner-->
    </div>
    <!-- END Navbar -->

    <!-- BEGIN Container -->
    <div class="container-fluid" id="main-container">
        <!-- BEGIN Sidebar -->
        <div id="sidebar" class="nav-collapse">
            <!-- BEGIN Navlist -->
            <ul class="nav nav-list">
                <!-- BEGIN Search Form -->
                <li>
                    <form target="#" method="GET" class="search-form">
                        <span class="search-pan">
                            <button type="submit">
                                <i class="icon-search"></i>
                            </button>
                            <input type="text" name="search" placeholder="Search ..." autocomplete="off" />
                        </span>
                    </form>
                </li>
                <!-- END Search Form -->
                <li class="active">
                    <a href="index.html">
                        <i class="icon-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="typography.html">
                        <i class="icon-text-width"></i>
                        <span>Typography</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-desktop"></i>
                        <span>UI Elements</span>
                        <b class="arrow icon-angle-right"></b>
                    </a>

                    <!-- BEGIN Submenu -->
                    <ul class="submenu">
                        <li><a href="ui_general.html">General</a></li>
                        <li><a href="ui_button.html">Button</a></li>
                        <li><a href="ui_slider.html">Slider</a></li>
                        <li><a href="ui_tile.html">Tile</a></li>
                        <li><a href="ui_chart.html">Chart</a></li>
                        <li><a href="ui_message.html">Conversation</a></li>
                        <li><a href="ui_icon.html">Icon</a></li>
                    </ul>
                    <!-- END Submenu -->
                </li>

                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-edit"></i>
                        <span>Forms</span>
                        <b class="arrow icon-angle-right"></b>
                    </a>

                    <!-- BEGIN Submenu -->
                    <ul class="submenu">
                        <li><a href="form_layout.html">Layout</a></li>
                        <li><a href="form_component.html">Component</a></li>
                        <li><a href="form_wizard.html">Wizard</a></li>
                        <li><a href="form_validation.html">Validation</a></li>
                    </ul>
                    <!-- END Submenu -->
                </li>

                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-list"></i>
                        <span>Tables</span>
                        <b class="arrow icon-angle-right"></b>
                    </a>

                    <!-- BEGIN Submenu -->
                    <ul class="submenu">
                        <li><a href="table_basic.html">Basic</a></li>
                        <li><a href="table_advance.html">Advance</a></li>
                        <li><a href="table_dynamic.html">Dynamic</a></li>
                    </ul>
                    <!-- END Submenu -->
                </li>

                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-globe"></i>
                        <span>Maps</span>
                        <b class="arrow icon-angle-right"></b>
                    </a>

                    <!-- BEGIN Submenu -->
                    <ul class="submenu">
                        <li><a href="map_google.html">Google Maps</a></li>
                        <li><a href="map_vector.html">Vector Maps</a></li>
                    </ul>
                    <!-- END Submenu -->
                </li>

                <li>
                    <a href="box.html">
                        <i class="icon-list-alt"></i>
                        <span>Box</span>
                    </a>
                </li>

                <li>
                    <a href="calendar.html">
                        <i class="icon-calendar"></i>
                        <span>Calendar</span>
                    </a>
                </li>

                <li>
                    <a href="gallery.html">
                        <i class="icon-picture"></i>
                        <span>Gallery</span>
                    </a>
                </li>

                <li>
                    <a href="grid.html">
                        <i class="icon-th"></i>
                        <span>Griding System</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-file-text-alt"></i>
                        <span>Sample Pages</span>
                        <b class="arrow icon-angle-right"></b>
                    </a>

                    <!-- BEGIN Submenu -->
                    <ul class="submenu">
                        <li><a href="extra_login.html">Login &amp; Register</a></li>
                        <li><a href="extra_profile.html">User Profile</a></li>
                        <li><a href="extra_invoice.html">Invoice</a></li>
                        <li><a href="extra_search.html">Search Results</a></li>
                    </ul>
                    <!-- END Submenu -->
                </li>

                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-file"></i>
                        <span>Other Pages</span>
                        <b class="arrow icon-angle-right"></b>
                    </a>

                    <!-- BEGIN Submenu -->
                    <ul class="submenu">
                        <li><a href="more_blank.html">Blank Page</a></li>
                        <li><a href="more_error-404.html">Error 404</a></li>
                        <li><a href="more_error-500.html">Error 500</a></li>
                        <li><a href="more_set-skin.html">Skin</a></li>
                        <li><a href="more_set-sidebar-navbar-color.html">Sidebar &amp; Navbar</a></li>
                        <li><a href="more_sidebar-collapsed.html">Collapsed Sidebar</a></li>
                    </ul>
                    <!-- END Submenu -->
                </li>
            </ul>
            <!-- END Navlist -->

            <!-- BEGIN Sidebar Collapse Button -->
            <div id="sidebar-collapse" class="visible-desktop">
                <i class="icon-double-angle-left"></i>
            </div>
            <!-- END Sidebar Collapse Button -->
        </div>
        <!-- END Sidebar -->

        <!-- BEGIN Content -->
        <div id="main-content">
            <!-- BEGIN Page Title -->
            <div class="page-title">
                <div>
                    <h1><i class="icon-file-alt"></i>Dashboard</h1>
                    <h4>Overview, stats, chat and more</h4>
                </div>
            </div>
            <!-- END Page Title -->

            <!-- BEGIN Breadcrumb -->
            <div id="breadcrumbs">
                <ul class="breadcrumb">
                    <li class="active"><i class="icon-home"></i>Home</li>
                    <li class="pull-right">
                        <div class="btn-toolbar text-center" style="margin-top: -3px;">
                            <div class="btn-group">
                                <a class="btn btn-circle btn-bordered btn-fill btn-to-success show-tooltip" title="" href="#" data-original-title="Add new section" id="new-section-btn"><i class="icon-plus"></i></a>
                                <a class="btn btn-circle btn-bordered btn-fill btn-to-warning show-tooltip" title="" href="#" data-original-title="Edit selected"><i class="icon-edit"></i></a>
                                <a class="btn btn-circle btn-bordered btn-fill btn-to-danger show-tooltip" title="" href="#" data-original-title="Delete selected"><i class="icon-trash"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- END Breadcrumb -->

            @RenderBody()

            <footer>
                <p>2013 © FLATY Admin Template.</p>
            </footer>

            <a id="btn-scrollup" class="btn btn-circle btn-large" href="#"><i class="icon-chevron-up"></i></a>
        </div>
        <!-- END Content -->
    </div>
    <!-- END Container -->
    <!--basic scripts-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="@Url.Content("~/Scripts/jquery-1.10.1.min.js")"><\/script>')</script>
    <script src="@Url.Content("~/Scripts/Bootstrap/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.nicescroll.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")"></script>

    <!--page specific plugin scripts-->
    <script src="@Url.Content("~/Scripts/Flot/jquery.flot.js")"></script>
    <script src="@Url.Content("~/Scripts/Flot/jquery.flot.resize.js")"></script>
    <script src="@Url.Content("~/Scripts/Flot/jquery.flot.pie.js")"></script>
    <script src="@Url.Content("~/Scripts/Flot/jquery.flot.stack.js")"></script>
    <script src="@Url.Content("~/Scripts/Flot/jquery.flot.crosshair.js")"></script>
    <script src="@Url.Content("~/Scripts/Flot/jquery.flot.tooltip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.sparkline.min.js")"></script>
    @RenderSection("");
    <!--flaty scripts-->
    <script src="@Url.Content("~/Scripts/Flaty/flaty.js")"></script>
        <script>
            $(document).ready(function () {
                $('form[data-async]').on('submit', function (event) {
                    var $form = $(this);

                    $.ajax({
                        type: $form.attr('method'),
                        url: $form.attr('action'),
                        data: $form.serialize(),

                        success: function (data) {
                            console.log(data);
                        }
                    });

                    event.preventDefault();
                });

                $('#new-section-btn').click(function () {
                    $.ajax({
                        type: 'get',
                        url: '@Url.Action("Create", "Section")',
                        data: "type=patient-info&entityId=1",
                        success: function (data) {
                            $("footer").before('<div class="row-fluid"><div class="span7">' + data + '</div><div class="span5"></div></div>');
                            $("html").getNiceScroll().resize();
                        }
                    });
                });
            });

    </script>

</body>
</html>
